## Demo Jupyter Notebook to read multiple URL's and display their data
### Part One: CSV files
### Part Two: Web Scrape
L. Van Warren for Dr. C. Chiang <br>
Wed Aug 28, CDT 2019

In [1]:
import pandas as pd

### Part One: CSV Files

In [2]:
urls = [\
        'http://samplecsvs.s3.amazonaws.com/TechCrunchcontinentalUSA.csv',
        'http://samplecsvs.s3.amazonaws.com/SalesJan2009.csv'
       ]

In [3]:
for url in urls:
    print(url)

http://samplecsvs.s3.amazonaws.com/TechCrunchcontinentalUSA.csv
http://samplecsvs.s3.amazonaws.com/SalesJan2009.csv

In [4]:
dataframes = []

for i, url in enumerate(urls): 
    dataframes.append(pd.read_csv(urls[i]))

In [5]:
dataframes[0].head(2)

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a

In [6]:
dataframes[1].head(2)

,Transaction_date,Product,Price,Payment_Type,Name,City,State,Country,Account_Created,Last_Login,Latitude,Longitude
0,1/2/09 6:17,Product1,1200,Mastercard,carolina,Basildon,England,United Kingdom,1/2/09 6:00,1/2/09 6:08,51.500,-1.116667
1,1/2/09 4:53,Product1,1200,Visa,Betina,Parkville,MO,United States,1/2/09 4:42,1/2/09 7:49,39.195,-94.681940

### Part Two: Web Scrape

From Julia Kho: How to Scrape a Web Site:
https://towardsdatascience.com/how-to-web-scrape-with-python-in-4-minutes-bc49186a8460

Make sure you read and understand her article. <br>
If you don't put the sleep statement in you can get thrown off some sites. <br>
This example takes about 15 seconds to run the remote fetch.

In [9]:
# Import libraries
import requests
import urllib.request
import time
from bs4 import BeautifulSoup

# Set the URL you want to webscrape from
url = 'http://web.mta.info/developers/turnstile.html'

# Connect to the URL
response = requests.get(url)

# Parse HTML and save to BeautifulSoup object¶
soup = BeautifulSoup(response.text, "html.parser")

turnstile_data = []

# To download the whole data set, let's do a for loop through all a tags
# for i in range(36,len(soup.findAll('a'))+1): #'a' tags are for links
for i in range(36,37): #'a' tags are for links
    one_a_tag = soup.findAll('a')[i]
    print(one_a_tag)
    link = one_a_tag['href']
    print(link)
    download_url = 'http://web.mta.info/developers/'+ link
    print(download_url)
    foo = urllib.request.urlretrieve(download_url,'./'+link[link.find('/turnstile_')+1:])
    print(foo)
    turnstile_data.append( pd.read_csv(download_url))
    time.sleep(1) #pause the code for a sec

turnstile_data[0].head(5)

<a href="data/nyct/turnstile/turnstile_190824.txt">Saturday, August 24, 2019</a>
data/nyct/turnstile/turnstile_190824.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_190824.txt
('./turnstile_190824.txt', <http.client.HTTPMessage object at 0x1207d7ba8>)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/17/2019,00:00:00,REGULAR,7170294,2427642
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/17/2019,04:00:00,REGULAR,7170310,2427649
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/17/2019,08:00:00,REGULAR,7170330,2427678
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/17/2019,12:00:00,REGULAR,7170410,2427748
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/17/2019,16:00:00,REGULAR,7170594,2427804